<div>
  <div style="position:absolute;top:20px;left:500px">

    <img *ngFor='let open_card of open_cards' style="width:80px;height:100px" [src]="'assets/images/cards/sprite1/card_'+open_card+'.png'"
      alt="">


  </div>
  <div #darg cdkDropListGroup class="playercard">

    <div class="example-container">
      <div cdkDropList [cdkDropListData]="cards" cdkDropListOrientation="horizontal" class="example-list"
        (cdkDropListDropped)="drop($event,'playercard')" *ngFor='let cards of cardArray1;let i=index'>
        <div #card (click)='selectedCard(cards,i);' class="example-box" cdkDragBoundary=".playercard" cdkDrag>
          <img style="width:80px;height:100px;position:relative" [src]="'assets/images/cards/sprite1/card_'+cards+'.png'"
            alt="">
        </div>

      </div>
    </div>
    <div class="example-container" style="width:200px;height:200px;top:0;background-color:aqua;">
      <div cdkDropList [cdkDropListData]="cardArray2" cdkDropListOrientation="horizontal" class="example-list"
        (cdkDropListDropped)="drop($event,'createGroup')" *ngFor='let cards of cardArray2'>
        <div class="example-box" cdkDragBoundary=".playercard" cdkDrag>
          <!-- <img #card  style="width:80px;height:100px;position:relative" [src]="'assets/images/cards/sprite1/card_'+cards+'.png'" alt=""> -->
        </div>

      </div>
    </div>
  </div>
  <div style="position: absolute;top: 415px;left:200px;">
    <button #Discard mat-raised-button color="primary" (click)='disCard();'>Discard</button>
  </div>
</div>